.section {
  position: relative;
  padding: var(--section-padding) 0;
  overflow: hidden;
}

.section__header {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
