.model-card {
  position: relative;
  height: 600px;
  border-radius: var(--border-radius);
  /* ... */
}

.tech-card {
  background-color: rgb(var(--color-dark));
  /* ... */
}

@media (max-width: 768px) {
  .model-card {
    height: 500px;
  }
}
